@use "global" as *;

.sub-about {
  // margin-top: rem(20);
  @include mq('md') {
    margin-top: rem(149);
  }
}

.sub-about-inner {
}



.about__catch.sub-about__catch {
  top: 19%;
  left: 7%;
  line-height: 1;
  @include mq("md") {
    line-height: 1.25;
    top: 30%;
    left: 18.5%;
  }
}
.about__img-right.sub-about__img-right {
  width: 100%;
  margin-left: 0;
  margin-top: rem(23);
  @include mq("md") {
    width: vw(1440, 880);
    margin-left: rem(-200);
    margin-top: rem(81);
  }
}

.about__img-right-text.sub-about__img-right-text {
  right: 5.5%;
  top: 22.5%;
}
.about__text-body.sub-about__text-body {
  margin-top: rem(39);
}
.button-wrapper.u-desktop{
  display: none;
  @include mq("md") {
    display: block;
    }
}

.gallery {
  margin-top: rem(37);
  margin-bottom: rem(104);
  @include mq('md') {
    margin-top: rem(120);
    margin-bottom: rem(140);
  }

  position: relative;
  &::after {
    content: "";
    position: absolute;
    background: url(../images/voicefish.png) no-repeat;
    background-size: contain;
    transform: scaleX(-1);
    z-index: -1;

    @include mq("md") {
      width: rem(301);
      height: rem(138);
      // right: rem(20);
      // top: rem(20);
      right: rem(80);
      top: rem(-79);
    }
  }
}

.gallery-inner {
}

.gallery__grid {
  margin-top: rem(40);
  @include mq('md') {
    margin-top: rem(80);
  }

  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: rem(8);
  @include mq('md') {
    grid-template-columns: 45.56% 7.41% 45.56%;
  }
}

.gallery__item {
  all: unset;          /* ← これが決定打 */
  display: block;      /* grid itemとして安定させる */
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden; 
  aspect-ratio: 580 / 369;
  grid-column: auto;
  grid-row: auto;
  @include mq('md') {
    grid-column: span 2;
    grid-row: span 1;

  }
}


.gallery__item:nth-child(6n + 1),
.gallery__item:nth-child(6n + 6) {
  aspect-ratio: 492 / 746;
  @include mq('md') {
    grid-column: span 1;
    grid-row: span 2;
  }
}

.gallery__item {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
.modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 15000;
  align-items: center;
  justify-content: center;
}

.modal.is-open {
  display: flex;
}

.modal-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
  }
}
