@use "global" as *;

/* privacy policy  terms of service
-------------------------------------------------- */

.sub-utility {


  .legal {
    
    margin-top: rem(48);
    margin-bottom: rem(235);
    @include mq("md") {
      margin-top: rem(150);
      margin-bottom: 0;
    }
  }

  .legal-inner.inner {
    @include mq('md') {
        max-width: rem(850);
    }
    text-align: left;
    color: $black;
  }

  .legal-title {
    font-size: rem(24);
    @include mq("md") {
      font-size: rem(32);
    }
    font-weight: $medium;
  }

  .legal-text {
    margin-top: rem(41);
    @include mq("md") {
      margin-top: rem(48);
    }
    font-weight: $normal;
    font-size: rem(16);
    line-height: 2;
  }
}
