@use "global" as *;

/* ==================================================
# 下層ページのmvとパンくずリストと背景の魚。
================================================== */

.sub-mv {
  position: relative;
  width: 100%;
  height: rem(460);
  @include mq("md") {
    height: rem(548);
  }

  &::before {
    content: "";
    position: absolute;
    background: url(../images/voicefish.png) no-repeat;
    background-size: contain;
    z-index: -1;

    width: rem(120);
    height: rem(55);
    bottom: rem(-111);
    left: rem(19);

    @include mq("md") {
      width: rem(301);
      height: rem(138);
      left: rem(100);
      bottom: rem(-246);
    }
  }
}

.sub-mv__img {
  width: 100%;
  height: inherit;
  img {
    object-fit: cover;
    height: 100%;
    object-position: 50% 50%;
    @include mq("md") {
      object-position: 50% 50%;
    }
  }
}
// campaignのみ
.sub-mv__img-campaign {
  width: 100%;
  height: inherit;
  img {
    object-fit: cover;
    height: 100%;
    object-position: 72% 50%;
    @include mq("md") {
      object-position: 50% 50%;
    }
  }
}

.sub-mv__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sub-mv__title {
  color: $white;
  font-family: $third-font-family;
  font-weight: $normal;
  font-size: rem(40);
  line-height: 1.2;
  @include mq("md") {
    font-size: rem(80);
    line-height: 1.25;
    margin-top: rem(100);
  }
}

.breadcrumb {
  margin-top: rem(8);
  margin-left: rem(4);
  @include mq("md") {
    margin-left: 0;
  }

  display: flex;
  gap: rem(20);
  color: $green;
  font-weight: $normal;
  font-size: rem(14);
  a {
    text-decoration: none;
    position: relative;

    & + a::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      left: rem(-14);
      width: rem(6);
      height: rem(6);
      border-top: 1px solid currentColor;
      border-right: 1px solid currentColor;
    }
  }
}


/* ==================================================
# tabs
================================================== */
.tabs {

}

.tabs__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(16) rem(21);
  @include mq('md') {
    display: flex;
    gap: rem(32);
  }
  
}

.tabs__item {
  border: 1px solid $green-accent;
  min-width: rem(162);
  min-height: rem(34);
  text-align: center;
  background-color: $white;
  // 以下を.tabs__linkに持っていくか悩む。日本語、数字がとても多いときの表示確認。
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs__link {
  overflow: hidden;    
  text-overflow: ellipsis; 
  width: 100%;
  height: 100%;
  color: $green-accent;
  font-weight: $normal;
  font-size: rem(14);
  line-height: 1.571;
  padding: rem(5) rem(10);
  
}

.tabs__item.is-active {
  pointer-events: none;
  background-color: $green-accent;
  .tabs__link {
    color: $white;
  }
}



/* ==================================================
# pagination prev next
================================================== */

.pagination__list {
  margin-top: rem(80);
  display: flex;
  align-items: center;
  // justify-content: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: rem(345);
  @include mq('md') {
    max-width: rem(444);
  }
}

.pagination__prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(38);
  height: rem(38);
  border: 1px solid $green-accent;
}
.pagination__next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(38);
  height: rem(38);
  border: 1px solid $green-accent;
}
.pagination__arrow {
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $green-accent;
  }
}
.pagination__arrow svg path {
  stroke: $green-accent;
  transition: stroke 0.3s ease;
}
.pagination__arrow:hover svg path {
  stroke: $white;
}

.pagination__number {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: rem(38);
  height: rem(38);
  border: 1px solid $green-accent;
}
.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  color: $green-accent;
  font-family: $third-font-family;
  font-weight: $bold;
  background-color: $white;
}

.pagination__number.is-current {
  pointer-events: none;
  .pagination__link {
    background-color: $green-accent;
    color: $white;
  }
}

.pagination__numbers {
  display: flex;
  gap: rem(12);
}
