@use "global" as *;

.sub-blog {

    
    /* sidebar
    -------------------------------------------------- */
        .blog-sidebar {
        @include mq("md") {
            max-width: rem(294);
        }

        width: 100%;

        display: flex;
        flex-direction: column;
        gap: rem(80);
        margin-right: auto;
        margin-left: auto;
    }

    .blog-sidebar__box {
        display: flex;
        flex-direction: column;
        // gap: rem(24);
    }

    .blog-sidebar__head {
        /* 青い縦棒ならこっち
    -------------------------------------------------- */
        // border-left: 8px solid $blue;
        // padding-left: rem(22);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: rem(8);

        min-height: rem(40);
        /* 角を丸めるならこっち
    -------------------------------------------------- */
        // position: relative;
        // &::before {
        //   position: absolute;
        //   content: '';
        //   top: 0;
        //   left: rem(-8);
        //   width: rem(8);
        //   height: rem(48);
        //   background: $blue;
        //   border-radius: 5px;
        // }
    }

    .blog-sidebar__head-img {
        background-size: contain;
        background-repeat: no-repeat;
        width: rem(32);
        height: rem(32);
    }

    .is-latest {
        background-image: url(../images/gym-sub/clock.webp);
    }

    .is-weight {
        background-image: url(../images/gym-sub/weight.webp);
    }

    .is-muscle {
        background-image: url(../images/gym-sub/muscle.webp);
    }

    .is-meal {
        background-image: url(../images/gym-sub/meal.webp);
    }

    .is-folder {
        background-image: url(../images/gym-sub/folder.webp);
    }

    .blog-sidebar__head-text {
        font-size: rem(24);
        font-weight: $bold;
        color: $black;
        padding-left: rem(4);
        // padding-bottom: rem(6);
    }

    .blog-sidebar__body {
        display: flex;
        flex-direction: column;
        gap: rem(24);
        margin-top: rem(24);
    }

    .blog-sidebar__popular-box {
        padding: rem(16);
        box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
        display: flex;
        gap: rem(16);
        border-radius: 10px;
    }

    .blog-sidebar__popular-img {
        max-width: rem(121);
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

        img {
            height: auto;
            aspect-ratio: 121 / 90;
            object-fit: cover;
        }
    }

    .blog-sidebar__popular-column {
        display: flex;
        flex-direction: column;
    }

    .blog-sidebar__popular-time {
        font-weight: $normal;
        // font-family: $second-font-family;
        color: $black;
        font-size: rem(12);
        line-height: 1.5;
    }

    .blog-sidebar__popular-title {
        color: $black;
        font-weight: $medium;
        font-size: rem(16);
    }

    // .blog-sidebar__bar {
    //   margin-top: rem(8);
    //   width: 100%;
    //   height: rem(1);
    //   background: $blue;
    //   @include mq("md") {
    //     margin-top: rem(10);
    //   }
    // }

    .blog-sidebar__review {
        margin-top: rem(22);
    }

    .blog-sidebar__review-img {
        img {
            aspect-ratio: 294 / 218;
            object-fit: cover;
        }
    }

    .blog-sidebar__review-age {
        margin-top: rem(17);
        color: $green;
        font-weight: $normal;
        font-size: rem(12);
        line-height: 1.5;
    }

    .blog-sidebar__review-title {
        margin-top: rem(8);
        font-weight: $medium;
        font-size: rem(24);
        line-height: 1.2;
    }

    .blog-sidebar__review-button {
        margin-top: rem(56);
    }

    .blog-sidebar__campaign {
        display: flex;
        flex-direction: column;
        // gap: rem(40);
        margin-top: rem(25);
    }

    .blog-sidebar__campaign-card {
        box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
        background: $white;
    }

    .blog-sidebar__campaign-card:nth-child(2) {
        margin-top: rem(40);
    }

    .blog-sidebar__campaign-card-img {
        img {
            aspect-ratio: 294 / 188;
            object-fit: cover;
        }
    }

    .blog-sidebar__campaign-body {
        padding: rem(16) rem(23) rem(24);
    }

    .blog-sidebar__campaign-title {
        text-align: center;
        font-size: rem(16);
        line-height: 1.5;
        font-weight: $medium;
    }

    .blog-sidebar__campaign-desc {
        margin-top: rem(10);
        text-align: center;
        font-size: rem(14);
        line-height: 1.714;
        font-weight: $normal;
    }

    .blog-sidebar__campaign-price {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: rem(16);
        margin-top: rem(7);
    }

    .blog-sidebar__campaign-old {
        color: $green;
        font-family: $third-font-family;
        font-weight: $bold;
        font-size: rem(20);
        line-height: 1;
        position: relative;

        &::after {
            background-color: #c94800;
            content: "";
            height: 0.1875rem;
            left: 0;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .blog-sidebar__campaign-new {
        color: $green-accent;
        font-family: $third-font-family;
        font-weight: $bold;
        font-size: rem(32);
        line-height: 1;
    }

    .blog-sidebar__campaign-button {
        margin-top: rem(36);
    }

    .blog-sidebar__archive {
        margin-top: rem(20);
    }

    .archive__list {
        color: $black;
        font-size: rem(16);
        font-weight: $normal;
        margin-left: rem(17);


        li {
            &:nth-child(n + 2) {
                margin-top: rem(8);
            }

            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: rem(-17);
                top: 55%;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                border-left: rem(10) solid $black;
                border-top: rem(6) solid transparent;
                border-bottom: rem(6) solid transparent;
            }
        }

    }


    // .archive__year {
    //   color: $green-accent;
    //   font-size: rem(24);
    //   font-weight: $normal;
    // }

    // .archive__month {
    //   margin-left: rem(24);
    //   color: $green-accent;
    //   font-size: rem(24);
    //   font-weight: $normal;
    // }
    // .sub-archive {
    //   color: $green-accent;
    //   font-size: rem(24);
    //   font-weight: $normal;
    // }

    /* 年 */
    // .archive__year {
    //   position: relative;
    //   padding-left: rem(32);
    //   cursor: pointer;
    //   // font-weight: 700;
    //   line-height: 1.4;
    // }

    // /* 年の三角（右向き） */
    // .archive__year::before {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   // top: 50%;
    //   top: 54%;

    //   /* 初期：下向きにしたいなら90 */
    //   // transform: translateY(-50%) rotate(90deg);

    //   /* 閉じてる状態にしたいならここを初期にして、is-openで回す */
    //   transform: translateY(-50%) rotate(0deg);
    //   width: 0;
    //   height: 0;
    //   border-left: rem(18) solid #408F95;
    //   /* 色 */
    //   border-top: rem(10) solid transparent;
    //   border-bottom: rem(10) solid transparent;
    //   transition: transform .2s ease;
    //   // margin-top: 2px;
    // }


    // .archive__year.is-open::before {
    //   transform: translateY(-50%) rotate(90deg);
    //   /* 開いたら下向き */
    // }

    // /* 月リンク */
    // .archive__month {
    //   margin: rem(8) 0 rem(14);
    //   padding-left: 0;
    //   list-style: none;
    //   display: none;
    //   /* JSで開閉する前提 */
    // }

    // .archive__month-link {
    //   position: relative;
    //   display: inline-block;
    //   padding-left: rem(56);
    //   line-height: 1.8;
    //   text-decoration: none;
    // }

    // /* 月の三角（右向き） */
    // .archive__month-link::before {
    //   content: "";
    //   position: absolute;
    //   // left: 0;
    //   left: rem(31);
    //   // top: 50%;
    //   top: 51.5%;
    //   transform: translateY(-50%);
    //   width: 0;
    //   height: 0;
    //   border-left: rem(18) solid #408F95;
    //   border-top: rem(10) solid transparent;
    //   border-bottom: rem(10) solid transparent;
    // }

}