@use "global" as *;

.front-page {
  .about {
    margin-top: rem(70);
    @include mq("md") {
      margin-top: rem(120);
    }
    
    
  }

  .about__inner {
    display: flex;
    flex-direction: column-reverse;
    @include mq("md") {
      flex-direction: row;
      gap: rem(30);
    }
  }

  .about__content {
    max-width: rem(440);
    @include mq("md") {
      max-width: rem(440);
    }
    
    

  }

  .about__title {
    color: $black;
    font-family: $third-font-family;
    font-weight: $bold;
    font-size: rem(30);
    line-height: 1.2;
    margin-top: rem(30);
    @include mq("md") {
      font-size: rem(40);
      line-height: 1.25;
      margin-top: rem(80);
    }

  }

  .about__text {
    color: $black;
    // font-family: $second-font-family;
    font-size: rem(15);
    font-weight: $normal;
    margin-top: rem(10);
    @include mq("md") {
      font-size: rem(20);
      margin-top: rem(20);
    }

  }

  .about__img {
    width: 100%;
    margin-inline: auto;
    @include mq("md") {
      width: 50%;
    }
    img {
      border-radius: 30px;
      aspect-ratio: 397 / 303;
      object-fit: cover;

    }

  }

}