@use "global" as *;
.about {
}
.about__inner {
  margin-top: rem(73);
  @include mq("md") {
    margin-top: 133px;
    position: relative;
    &::after {
        content: "";
        background: url(../images/common/coral.png) no-repeat;
        background-size: 100% auto;
        position: absolute;
        z-index: 2;
        width: rem(194);
        height: rem(181);
        bottom: -11.7%;
        right: 5.7%;
    }
  }
}

.about__inner {
}
.about__content {
  margin-top: rem(28);
  @include mq("md") {
    margin-top: rem(40);
  }
}
.about__img {
  display: flex;
  justify-content: center;
  position: relative;
}
.about__img-left {
  width: vw(375, 128);
  aspect-ratio: 128/194;
  @include mq("md") {
    width: vw(1440, 400);
    aspect-ratio: 400/606;
  }
  z-index: 3;
  img {
  }
}
.about__catch {
  position: absolute;
  top: 30%;
  left: 18.5%;
  font-family: $second-font-family;
  font-weight: $normal;
  z-index: 20;  
  color: $white;
  font-size: clamp(40px, 6vw, 80px);
  line-height: 1.25;
}
.about__img-right {
  margin-top: rem(26);
  margin-left: rem(-64);
  width: vw(375, 281);
  aspect-ratio: 281/186;
  @include mq("md") {
    width: vw(1440, 880);
    aspect-ratio: 880/581;
    margin-top: rem(80);
    margin-left: rem(-200);
  }
  position: relative;
  z-index: 1;
  img {

    }
}
.about__img-right-text {
  position: absolute;
  top: 18%;
  right: 6%;
  p {
    margin-top: 14px;
    margin-right: -12px;
    max-width: min(400px, 28vw);
    font-size: rem(16);
    font-weight: $normal;
    line-height: 1.5;
    color: $white;
  }
}
.about__text {
}
.about__text-title {
  margin-top: rem(40);
  font-family: $second-font-family;
  font-weight: $normal;
  color: #408f95;
  font-size: rem(40);
  line-height: rem(40);
  @include mq("md") {
    color: $white;
    font-size: rem(80);
    line-height: rem(100);
  }
}
.about__text-body {
  margin-top: rem(16);
  
  font-size: rem(16);
  font-weight: $normal;
  line-height: rem(24);
  color: $green;
  @include mq("md") {
    color: $white;
  }
}
.about-button {
  margin-top: rem(25);
  margin-left: rem(-18);
  @include mq('md') {
    margin-top: 40px;
    margin-left: 6px;
  }
}
