@use "global" as *;

body.front-page {
  .blog {
    margin-top: rem(80);
    @include mq("md") {
      position: relative;
      margin-top: 0;
      padding-top: rem(100);
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: rem(500);
        height: 100%;
        background: url(../images/water.png) no-repeat;
        background-size: 100% auto;
        z-index: -1;
      }
      &::before {
        content: "";
        position: absolute;
        background: url(../images/fish1.png) no-repeat;
        background-size: contain;
        z-index: 1;
        width: rem(437);
        height: rem(201);
        top: rem(25);
        left: rem(100);
      }
    }
  }

  .blog__inner {
    @include mq("md") {
    }
  }

  // デザインカンプ完全一致。仮。
  // .blog__inner.inner {
  //   @media screen and (max-width: rem(767)) {
  //     padding-right: rem(20);
  //     padding-left: rem(20);
  //   }
  // }

  .heading {
    .blog-title {
      @include mq("md") {
        color: $white;
        &::first-letter {
          color: $white;
        }
      }
    }
  }
  .blog__boxes {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(40);
    margin-top: rem(28);
    @include mq("md") {
      grid-template-columns: repeat(3 , 1fr);
      gap: rem(80) rem(40);
      margin-top: rem(80);
    }
  }
  .blog__box {
    padding: rem(16) rem(16) rem(24) rem(16);
    background: $white;
    box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  }
  .blog__box-image {
    img {
      aspect-ratio: 301/201;
      object-fit: cover;
    }
  }
  .blog__box-time {
    display: block;
    margin-top: rem(23);
    color: $green;
    font-family: $second-font-family;
    font-weight: $normal;
    font-size: rem(12);
    line-height: 1.5;
  }
  .blog__box-title {
    margin-top: rem(-1);
    color: $green;
    font-weight: $medium;
    font-size: rem(16);
    line-height: 1.5;
  }
  .blog__box-bar {
    margin-top: rem(4);
    width: 100%;
    height: rem(1);
    background: $green-accent;
  }
  .blog__box-text {
    margin-top: rem(16);
    color: $black;
    font-weight: $normal;
    font-size: rem(16);
    line-height: 1.5;
  }
  .blog__button {
    margin-top: rem(40);
    margin-left: rem(-2);
    @include mq("md") {
      margin-top: rem(80);
      margin-right: rem(3);
    }
  }
}
