@use "global" as *;
.blog {
  margin-top: rem(80);
  @include mq("md") {
    position: relative;
    margin-top: 0;
    padding-top: rem(100);
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-height: rem(500);
      height: 100%;
      background: url(../images/common/water.png) no-repeat;
      background-size: 100% auto;
      z-index: -1;
    }
    &::before {
      content: "";
      position: absolute;
      background: url(../images/common/fish1.png) no-repeat;
      background-size: contain;
      z-index: 20;
      width: rem(437);
      height: rem(201);
      top: rem(25);
      left: rem(100);
    }
  }
}

.blog__inner {
  @include mq("md") {
  }
}

// デザインカンプ完全一致。仮。
.blog__inner.inner {
  @media screen and (max-width: rem(767)) {
    padding-right: rem(20);
    padding-left: rem(20);
  }
}

.heading {
  .blog-title {
    @include mq("md") {
      color: $white;
      &::first-letter {
        color: $white;
      }
    }
  }
}
.blog__boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(39);
  margin-top: rem(28);
  @include mq("md") {
    margin-top: rem(80);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
.blog__box {
  margin: 0 auto;
  @include mq("md") {
    margin-right: 0;
    margin-left: 0;
    flex: 1 1 rem(250); // 最小幅 rem(250) で自動伸縮
    max-width: rem(333); // 最大幅固定
  }
  padding: rem(16) rem(16) rem(24) rem(16);
  background: $white;
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
}
.blog__box-image {
  img {
    aspect-ratio: 301/201;
    object-fit: cover;
  }
}
.blog__box-time {
  display: block;
  margin-top: rem(23);
  color: #0d2936;
  font-family: $second-font-family;
  font-weight: $normal;
  font-size: rem(12);
  line-height: 1.5;
}
.blog__box-title {
  margin-top: rem(-1);
  color: #0d2936;
  font-weight: 500;
  font-size: rem(16);
  line-height: 1.5;
}
.blog__box-bar {
  margin-top: rem(4);
  width: 100%;
  height: rem(1);
  background: #408f95;
}
.blog__box-text {
  margin-top: rem(16);
  color: #000;
  font-weight: $normal;
  font-size: rem(16);
  line-height: 1.5;
}
.blog__button {
  margin-top: rem(40);
  margin-left: rem(-2);
  @include mq("md") {
    margin-top: rem(80);
    margin-right: rem(3);
  }
}
