@use "global" as *;

.contact {
  margin-top: rem(80);

  @include mq("md") {
    margin-top: rem(100);
  }

}

.contact__inner {}

.contact {}

.contact-inner {}

.contact__title {
  span {
    color: $orange ;
    font-size: rem(45);

    @include mq("md") {
      font-size: rem(60);
    }


  }

  text-align: center;
  color: $black;
  font-weight: $bold;
  font-size: rem(30);
  line-height: 1.2;
  margin-top: rem(30);

  @include mq("md") {
    font-size: rem(40);
    line-height: 1.25;
    margin-top: rem(80);
  }

}

.contact__text {
  text-align: center;
  color: $black;
  font-size: rem(15);
  font-weight: $normal;
  margin-top: rem(10);

  @include mq("md") {
    font-size: rem(20);
    margin-top: rem(20);
  }

}

.contact__button {
  margin-top: rem(30);

  @include mq("md") {
    margin-top: rem(30);
  }

  .button {
    
  }
}

.contact__button {
  .button {
  }
  .contact__button-content {
    min-width: rem(250);
  padding: rem(14) rem(40) rem(16) rem(24);
  font-size: rem(20);

  @include mq("md") {
    min-width: rem(320);
    padding: rem(16) rem(65) rem(20) rem(28);
    font-size: rem(26);
  }

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: $blue;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  font-weight: $bold;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.8;
  }
    margin-top: rem(30);
    min-width: rem(300); 
  
    @include mq("md") {
      min-width: rem(500);
    }
    background: $orange ;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: rem(21);
      right: rem(42);
      width: rem(18);
      height: rem(18);
      @include mq("md") {
        top: rem(26);
        right: rem(117);
        width: rem(22);
        height: rem(22);
      }
      
      
      background: url("../images/gym-top/next.png") no-repeat center / contain;
    }
  }
}