@use "global" as *;
.footer {
  background: #408f95;
  margin-top: rem(103);
  
  @include mq("md") {
    margin-top: rem(160);
  }
}
.footer__inner {
  padding-top: rem(48);
  @include mq("md") {
    padding-top: rem(80);
    padding-right: rem(24);
    padding-left: rem(24);
    margin: 0 auto;
    max-width: rem(1200);
  }
}
.footer__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(20);
  
  
  @include mq("md") {

    flex-direction: row;
    align-items: flex-end;
    gap: rem(40);
  }
}
.footer__logo {
  // width: vw(375, 120);
  width: rem(120);
  margin-right: rem(225);
  @include mq("md") {
    // width: vw(1440, 200);
    margin-right: 0;
    width: rem(200);
  }
}
.footer__icons {
  display: flex;
  gap: rem(16);
  margin-top: rem(-4);
  margin-right: rem(281);
  @include mq("md") {
    margin-right: 0;
    margin-top: rem(0);
    margin-bottom: rem(7);
  }
}
.footer__icon {
  display: block;
  width: rem(23.5);
  @include mq("md") {
    // width: vw(1440, 30);
    width: rem(30);
  }
}
.footer__margin {
  @include mq('md') {
    margin-right: rem(76);
  }
}
.footer__body {
  display: flex;
  gap: rem(40);
  margin-top: rem(40);
  // padding-left: rem(26);
  // padding-right: rem(26);
  padding-left: rem(28);
  justify-content: center;
  
  @include mq("md") {
    margin-top: rem(24);
    gap: rem(142);
    margin-right: rem(50);
    padding-left: 0;
    
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  @include mq("md") {
    flex-direction: row;
    gap: rem(141);
  }
}
.footer__nav-column {
  display: flex;
  flex-direction: column;
  min-width: rem(144); 
  @include mq('md') {
    min-width: auto;
  }  
}
.footer__text {
  color: $white;
  
  font-size: rem(16);
  font-weight: $normal;
  line-height: rem(18);
  white-space: nowrap;
  &:nth-child(n + 2) {
    margin-top: rem(24);
  }
}
.footer__text.starfish {
  font-weight: $bold;
  &:nth-child(n + 2) {
    margin-top: rem(40);
  }
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: url(../images/common/footer-starfish.png) no-repeat;
    background-size: contain;
    width: rem(18);
    height: rem(18);
    top: rem(1);
    left: rem(-21);
  }
}
.footer__copyright {
  display: block;
  color: $white;
  font-family: $second-font-family;
  font-size: rem(12);
  font-weight: $normal;
  line-height: rem(18);
  text-align: center;  
  margin-top: rem(40);
  padding-bottom: rem(57);
  @include mq("md") {
      font-size: rem(14);
    margin-top: rem(80);
    padding-bottom: rem(80);
  }
}
/* ==================================================
# to-top
================================================== */
.page-top {
  position: fixed;
  width: rem(48);
  height: rem(48);    
  right: rem(15);
  bottom: rem(15);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s , visibility 0.3s;
  &.is-show {
    opacity: 1;
    visibility: visible;
  }
  @include mq('md') {
    width: rem(80);
    height: rem(80);
    right: rem(20);
    bottom: rem(20);
  }
  img {    
  }
}
