@use "global" as *;
.header {
  background: rgba(13, 41, 54, 0.68);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: rem(80);
  @include mq('md') {
    height: rem(90);
  }
}
.header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(15);
  @include mq("md") {
    padding: 0 rem(40);
  }
}
.header__logo {
  @include mq('md') {
    position: relative;
    top: rem(4);    
  }
  img {
    width: rem(102);
    @include mq("md") {
      width: rem(133);
    }
  }
}
.header__nav {
  height: inherit;
}
.header__nav-list {
  height: inherit;
  display: flex;
  gap: rem(40);
}
.header__nav-item {
  height: inherit;
}
.header__link {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(4);

  // 以下下線引き
  position: relative;
  &::after {
    position: absolute;
    bottom: rem(20);
    left: 0;
    content: "";
    width: 100%;
    height: rem(1);
    background: $white;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform 0.3s;
  }
  &:hover::after {
    transform: scale(1, 1);
  }
}
.header__link--en {
  color: $white;
  text-align: center;
  font-family: $second-font-family;
  font-weight: $normal;
  font-size: rem(18);
  line-height: 1;
}
.header__link--ja {
  color: $white;
  text-align: center;  
  font-weight: $normal;
  font-size: rem(10);
  line-height: 1.5;
}
/* ==================================================
# drawer menu
================================================== */
.header__open {
}
.drawer-icon {
  width: rem(32);
  height: rem(24);
  position: relative;
  z-index: 10000;
  position: fixed;
  top: rem(28);
  right: rem(15);
  &.is-checked {
    .drawer-icon__bar {
      &:nth-child(1) {
        top: rem(12);
        transform: rotate(36.87deg);
        width: rem(40);
        left: rem(-3);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        top: rem(12);
        transform: rotate(-36.87deg);
        width: rem(40);
        left: rem(-3);
      }
    }
  }
}
.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: rem(32);
  height: rem(1);
  border-radius: 100px;
  background: $white;
  transition: transform 0.3s linear,top 0.3s linear;
  &:nth-child(1) {
  }
  &:nth-child(2) {
    top: rem(12);
  }
  &:nth-child(3) {
    top: rem(24);
  }
}
.drawer-content {
  background: #408f95;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 14;
  transform: translateX(100vw);
  transition: transform 0.3s linear;  
  &.is-checked {
    transform: translateX(0);
  }
}
.drawer-content-inner {
}
.drawer-content2 {
  z-index: 10000;
  margin-top: rem(45);
  gap: rem(30);
  margin-left: rem(-10);
}
body.is-scrollLock {
  overflow: hidden;
}
.drawer__logo {
  width: rem(102);
  margin-top: rem(-27);
  margin-right: rem(244);
}
